body{
    background: grey;
    color: bisque;
}
.logo img{
    width: 80px;
}

header{
    display: flex;
    justify-content: space-between;
}

.header ul{
    display: flex;
    margin-right: 10px;
    
}

.header ul li{
    list-style-type: none;
    margin-left: 10px;
}