.logo img{
    width: 70px;
}
header{
    display: flex;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    color: blueviolet;
    margin-left: 50px;
    font-size: 25px;
}
